@media (max-width: 500px) {
    .container {
        width: 96%;
        min-width: 300px;

        margin: 5% auto;
    }

    /* PUNTEGGIO */
    .score-box {
        width: 100%;
    }

    .scores {
        justify-content: right;

        width: 53%;
    }

    .score-box .score {
        width: 81px;
        height: 81px;
    }

    .scores .top-score {
        margin-left: 5px;
    }

    /* Menu */
    .main-menu {
        width: 100%;
        
        margin-bottom: 2rem;
    }

    .main-menu .controls {
        text-align: right;
    }
    
    .main-menu .controls h2 {
        margin: 0;

        font-size: 1.5rem;
    }

    /* Modale di conferma */
    .modal-content {
        width: 80%;

        margin-top: 50%;
    }

    /* GRIGLIA DI GIOCO */
    .box{
        width: 100%;
        height: auto;
        min-width: 320px;
        min-height: 320px;

        margin-bottom: 15%;
        
        aspect-ratio: 1;
    }

    /* Tessere */
    .box .number-box.no-null, .box .default-box {
        width: 23%;
        height: 23%;
    
        border-radius: 7px;
    
        font-size: 2rem;
        font-weight: bold;
    }

    .no-null.row-0.col-0 { left: 2.5%; top: 2.5%;}
    .no-null.row-0.col-1 { left: 26.5%; top: 2.5%;}
    .no-null.row-0.col-2 { left: 50.5%; top: 2.5%;}
    .no-null.row-0.col-3 { left: 74.5%; top: 2.5%;}

    .no-null.row-1.col-0 { left: 2.5%; top: 26.5%;}
    .no-null.row-1.col-1 { left: 26.5%; top: 26.5%;}
    .no-null.row-1.col-2 { left: 50.5%; top: 26.5%;}
    .no-null.row-1.col-3 { left: 74.5%; top: 26.5%;}

    .no-null.row-2.col-0 { left: 2.5%; top: 50.5%;}
    .no-null.row-2.col-1 { left: 26.5%; top: 50.5%;}
    .no-null.row-2.col-2 { left: 50.5%; top: 50.5%;}
    .no-null.row-2.col-3 { left: 74.5%; top: 50.5%;}

    .no-null.row-3.col-0 { left: 2.5%; top: 74.5%;}
    .no-null.row-3.col-1 { left: 26.5%; top: 74.5%;}
    .no-null.row-3.col-2 { left: 50.5%; top: 74.5%;}
    .no-null.row-3.col-3 { left: 74.5%; top: 74.5%;}

    #rules-link {
        display: block;
        text-align: center;

        font-size: 1.5rem;
        font-weight: bold;

        color: #BBADA0;
    }

    #rules-link:hover {
        color: #776E65; 

        text-shadow: 1px 1px 1px #888888;
    }

    /* SEZIONE LATERALE */
    .rules {
        display: none;
        left: -100%;

        width: 90%;
        height: 100%;

        background-color: #CDC1B4;

        z-index: 10;

        transition: left 1s ease-in-out;
    }

    .rules.active {
        left: 0;
    }

    .close-rules {
        cursor: pointer;
    }

    .close-rules {
        position: absolute;
        top: 0.8%;
        right: 5%;

        font-size: 1.5rem;
        cursor: pointer;
    }

    .controls-images {
        margin: 0 auto;
        margin-bottom: 3%;
    }
}